@import '../../assets/css/basic.scss';

.play-list {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 36vw;
  min-width: 36vw;
  height: calc(100vh - 24px);
  background-color: $white;
  border: 3px solid $black;
  transition: 0.5s ease-in-out;

  &--active {
    transform-origin: top;
    transform: translateX(-70%) rotate(25deg);  
  }
}
