@import '../../assets/css/basic.scss';

.player-btn {
  display: flex;
  flex-direction: column;

  .player-btn__previous,
  .player-btn__next {
    position: relative;
    margin-top: 4px;
    margin-bottom: 4px;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      background-color: $gray;
      border-radius: 50%;
      border: 3px solid $black;
      padding: 12px;
      width: 24px;
      height: 24px;
      top: 4px;
      left: 4px;
    }

    &-label {
      position: relative;
      width: 24px;
      height: 24px;
      padding: 12px;
      z-index: 5;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $white;
      background-repeat: no-repeat;
      background-position: center;
      border: 3px solid $black;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        background-color: $light-gray;
      }

      &:active {
        top: 4px;
        left: 4px;
      }
    }

    input {
      display: none;
    }
  }
}
